<div id="error_explanation">
  <% @drink.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>
</div>

<%= form_for [@shop, @drink] do |f| %>
  <p>
    <%= f.label :name, 'Name of Drink' %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :img_url, 'Image URL' %><br>
    <%= f.text_field :img_url %>
  </p>

  <p>
    <%= f.label :kind_of_drink, 'Kind of Drink' %><br>
    <%= f.text_field :kind_of_drink %>
  </p>

  <p>
  <%= f.label :roast %><br>
  <%= f.select :roast, ['Light', 'Medium', 'Medium-Dark', 'Dark'], include_blank: "Select A Roast" %>
  </p>

  <p>
    <%= f.label :flavor %><br>
    <%= f.text_field :flavor %>
  </p>

  <p>
    <%= f.label :thoughts %><br>
    <%= f.text_area :thoughts %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
